<!DOCTYPE html>
<html>
<head>
<title>
</title>
	<meta name = "viewport" content = "width=device-width, initial-scale=1"/>
</head>
<body>
	<div class="container">
		<h1 id="header">DLC</h1>
		<div id="form">
			<form action="/addquestion" method="post">
                <div>Question<textarea style="height:300px;width:350px" name="question"></textarea></div>
                <div>Option1<textarea style="height:50px;width:350px" name="option1"></textarea></div>
                <div>Option2<textarea style="height:50px;width:350px" name="option2"></textarea></div>
                <div>Option3<textarea style="height:50px;width:350px" name="option3"></textarea></div>
                <div>Option4<textarea style="height:50px;width:350px" name="option4"></textarea></div>
                <div>Option4<textarea style="height:50px;width:350px" name="rightanswer"></textarea></div>
                <div>
                    <select name="course">
                        <option>OOP</option>
                        <option>Python</option>
                        <option>Javascript</option>
                        <option>HTML</option>
                        <option>CSS</option>
                        <option>Java</option>
                    </select>
                </div>
                <div>
			        <input type="submit" name="submit" value="Add Question" class="btn btn-primary" />
                </div>
			</form>
</body>
</html>