<!DOCTYPE html>
<html>
<head>
<title>

</title>
	<meta name = "viewport" content = "width=device-width, initial-scale=1"/>
</head>
<body>
	<div class="container">
		<h1 id="header">DLC</h1>
        
        <h2>This is admin dashboard</h2>
        <div><a href="#">Add courses</a></div>
        <div><a href="#">View courses</a></div>
        <div><a href="#">Add questions</a></div>
        <div><a href="/forum">Community</a></div>
        <div><a href="/logout">Log out</a></div>
	</div>

</body>
</html>