<html>
  <head>
    <title>fastLearners</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper grey darken-3">
          <a href="/" class="brand-logo" id="brand-size">
            <span class="orange-text text-accent-1">fast</span>
            <span class="brown-text text-lighten-2">Learners</span>
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/signin">Sign In</a></li>
            <li><a href="/signup">Sign Up</a></li>
          </ul>
        </div> <!-- nav-wrapper -->
      </nav>
      <div class="slider">
        <ul class="slides">
          <li>
            <img src="/images/learn5.png" class='images'>
            <div class="image-tag caption left-align">
              <h3>Join other fastLearners. Own your learning, Change the world.</h3>
              <h5>
                You learn at your pace. Whether it takes a day or a year, we would be right by your side every 
                step of the way
              </h5>
            </div><!--image-tag-->
          </li>
          <li>
            <img src="images/learn10.jpg" class='images'>
            <div class="image-tag caption center-align">
              <h3>We are not bound by location. Are you ?</h3>
              <h5>Over a million people from diferrent part of the world are a member
                of our community
              </h5>
            </div><!--image-tag-->
          </li>
          <li>
            <img src="images/learn11.png" class='images'>
            <div class="image-tag caption right-align">
              <h3>Set your goals. We track your progress</h3>
              <h5>We offer quality assessments and reviews for each course taken to help you 
                measure your gowth
              </h5>
            </div><!--image-tag-->
          </li>
        </ul><!--slides-->
      </div>
    </header><!-- carousel -->

    <div class="container">

      <section class="features">
        <div class="section-headers center-align"><h4>Top Features</h4></div>
        <div class="row center-align" id="top-features">
          <div class="col s4">
            <i class="large material-icons">supervisor_account</i>
            <p>Join a community</p>
          </div>
          <div class="col s4">
            <i class="large material-icons">verified_user</i>
            <p>Track and accomplish your goals</p>
          </div>
          <div class="col s4">
            <i class="large material-icons">reorder</i>
            <p>Own your learning</p>
          </div>
        </div><!-- top-features -->
      </section><!-- features -->


      <section class="courses">
        <div class="section-headers center-align"><h4>Top Courses</h4></div>

          <div class="row" id="top-courses">
            <div class="col s4">
              <div class="card hoverable">
                <div class="card-content black-text">
                  <span class="card-title">Artificial Intelligence</span>
                  <p>Dive into the world of artficial Intelligence and experience the thrill of machine learning,
                    robotics, natural language processing etc.
                    Approx. Time: 320 hrs
                    Popularity: 1654 students
                  </p>
                </div>
                <div class="card-action">
                  <a href="#">View</a>
                </div>
              </div>
            </div>
            <div class="col s4">
              <div class="card hoverable">
                <div class="card-content black-text">
                  <span class="card-title">Card Title</span>
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
            <div class="col s4">
              <div class="card hoverable">
                <div class="card-content black-text">
                  <span class="card-title">Card Title</span>
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
            <div class="col s4">
              <div class="card hoverable">
                <div class="card-content black-text">
                  <span class="card-title">Card Title</span>
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>            
            <div class="col s4">
              <div class="card hoverable">
                <div class="card-content black-text">
                  <span class="card-title">Card Title</span>
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>           
            <div class="col s4">
              <div class="card hoverable">
                <div class="card-content black-text">
                  <span class="card-title">Card Title</span>
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
          </div><!-- top-courses -->
      </section><!-- courses -->

      <section class="about">
        <div class="section-headers center-align"><h4>About</h4></div>
        <h6>fastLearners provides a structure for people to align around a shared goal. We bring effective 
          communities that are both aspirational and practical. We connect people, organizations, and systems that are 
          eager to learn across boundaries, all the while holding members accountable to a common agenda, 
          metrics, and outcomes. We enable participants to share results and learn from each other, 
          thereby improving their ability to achieve rapid yet significant progress.</h6>
      </section>

    </div><!-- container -->

    <footer class="page-footer grey darken-3">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2014 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="script/init.js"></script>
  </body>
</html>