<html>
  <head>
    <title>fastLearners</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../public/styles/style.css">
  </head>

  <body>
    <header>
      <nav>
        <div class="nav-wrapper grey darken-3">
          <a href="#" class="brand-logo" id="brand-size">
            <span class="orange-text text-accent-1">fast</span>
            <span class="brown-text text-lighten-2">Learners</span>
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">Log In</a></li>
            <li><a href="#">Sign Up</a></li>
          </ul>
        </div> <!-- nav-wrapper -->
      </nav>
    </header>
    <div class="row">
      <div class="col s5 img">
        <h4 class="center-align">Welcome to
            <span class="orange-text text-accent-1"> fast</span>
            <span class="brown-text text-lighten-2">Learners</span>!!!</h4>
        <img src="../public/images/huddle.jpg">

        <div class="comments">
          <h5 class=" center-align amber-text text-darken-3">We help you own your learning</h5>
        </div>
      </div><!-- col s5 img -->

      <div class="col s7 login">
        <h4 class="center-align">Log In</h4>
        <form class="push-s2 col s9" method="post" action="/signin">
          <div class="row">
            <div class="input-field col s12">
              <input id="email" name="username" type="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" name="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <button type="submit" class="waves-effect waves-light btn col s12" id="login">Log In</button>
          </div>
        </form>

        <div class="clearfix options">
	    	  <p class="black-text">Forgot your password? <a href="#">Reset it</a></p>
	    	  <p class="black-text">Don't have an account? <a href="/signup">Create a fast Learners Account</a></p>
		    </div>
      </div><!-- col s7 login -->
    </div><!-- row -->

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="../public/script/init.js"></script>
  </body>

</html>