<!DOCTYPE html>
<html>
<head>
<title>
</title>
	<meta name = "viewport" content = "width=device-width, initial-scale=1"/>

</head>
<body>
	<div class="container">
		<h1 id="header">DLC</h1>
        <div id="question">Are you sure you want to take the quiz?</div>
        <button id='continue'>Continue</button>


</body>
</html>