<!DOCTYPE html>
<html>
<head>
<title>
</title>
    <meta name = "viewport" content = "width=device-width, initial-scale=1"/>
    <style>
        #submitquiz {visibility: hidden;}
    </style>
</head>
<body>
    <div class="container">
        <form action="/showresult" method="post">
        <h1 id="header">DLC</h1>
        <div id="displayArea">
            <input type="button" value="Take assessment" id="takeassessment"/>
        </div>
        <div><input type="button" value="Submit Quiz" id="submitquiz"/></div>
        </form>
    </div>
        <script type="text/javascript" src="showquiz.js"></script>
</body>
</html>