<!DOCTYPE html>
<html>
<head>
<title>

</title>
	<meta name = "viewport" content = "width=device-width, initial-scale=1"/>
</head>
<body>
	<div class="container">
		<h1 id="header">DLC</h1>
        <div>Are you sure you are ready for the assessment? <a href="/loadquiz">click here</a> to continue</div>
	</div>
</body>
</html>