<!DOCTYPE html>
<html>
<head>
<title>

</title>
	<meta name = "viewport" content = "width=device-width, initial-scale=1"/>
    <style>
        #submitquiz {visibility: hidden}
    </style>
</head>
<body>
	<div class="container">
		<h1 id="header">DLC</h1>
        <div id="displayQuestion">
            <select id='course'>
                <% courses.forEach( function(course) {%>
                <option><%= course %></option>
                <%})%>
            </select>
            <input type="button" value="Start Quiz" id="startquiz"/>
	    </div>
        <input type="button" value="Submit Quiz" id="submitquiz"/>
	</div>
        <script type="text/javascript" src="showquiz.js"></script>
</body>
</html>