<!DOCTYPE html>
<html>
   <head>
      <title> Forum </title>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <style>
      .search {display: inline;}
    </style>
  </head>
  <body>
    <div class="navbar-fixed">
      <nav class="black">
          <div class="nav-wrapper">
        <a href="/dashboard"><img class="circle" src="/images/flashindex-logo.jpg" id="logo-picture" style="height: 40px; vertical-align: middle"></a>
        <span class="white-text name" style="size: 50px">fastLearners</span>
            <!-- to be moved to the center -->
              <ul class="center" style="height:10px;">
                  <li><b class="center" id="centralDisplay"></b></li>
              </ul>
            <!-- to be moved to the center -->
          </div>
      </nav>
    </div>

    <div class="row">
        <div class="col s1">&nbsp;&nbsp;&nbsp;</div>
        <!-- Question card -->
        <div class="col s9 card">
          <!-- Question holder -->
          <div id="questionHolder">
                  <!--<i>Edit</i>-->
                  <h1>
                    No Result Found
                  </h1>

            <!-- Question-->
          </div>
          <!-- Question holder -->
          <!--pagination holder -->
          <ul class="pagination" id="paginateHolder">
        </ul>
        </div>
        <!-- Question card -->
        <div class="col s1">&nbsp;&nbsp;&nbsp;</div>
      <div class="col s1">&nbsp;&nbsp;&nbsp;</div>
      <!-- Add A Question -->
  <script src="js/validate.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
   </body>
</html>