.images {
  width: 100%;
  height: 500px;
}

#brand-size {
  font-size: 24px;
  padding-left: 10px;
}
.content {
  padding-left: 320px;
  padding-right: 20px;
  min-height: calc(100vh - 100px);
}
#content-categories {
  margin-top: 70px;
  padding-right: 20px; 
}

.side-nav h5 {
  margin-top: 30px;
  margin-left: 20px;
}

.section-header, .section-footer {
  padding-left: 300px;
}
  @media only screen and (max-width : 992px) {
    .content, .section-header, .section-footer {
      padding-left: 0;
    }
  }
.sidenav-color {
  background-color: #607d8b;
}
.sidebar {
  max-width: 300px;
}
#cover {
	width: 325px;
	height: 300px;
}
#course-categories {
  margin-top: 50px;
}
.section-headers {
  margin-left: auto;
  margin-right: auto;
}

.options {
  margin-left: 20%; 
}
.login {
  margin-top: 70px;
}
.img {
  margin-top: 40px;
}
#profile-pic {
  height: 100px;
  width:100px;
}
#user-profile {
  margin-top: 20px;
}
.user-stats {
  margin-top: 5%;
}
.user-courses {
  padding-top: 5px;
}
.about {
  padding-bottom: 25px;
}
.about-section {
  font-size: 17px;
  font-family: Helvetica;
  text-align: justify;
}